<!DOCTYPE html>
<html>

<head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="k">
        <link rel="stylesheet" type="text/css" href="k">
        <link rel="stylesheet" type="text/css" href="k">
        <link rel="stylesheet" type="text/css" href="">
        <link rel="stylesheet" type="text/css" href="jquery-ui//jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="jquery-ui//jquery-ui.structure.css">
        <link rel="stylesheet" type="text/css" href="jquery-ui//jquery-ui.theme.css">
        <script type="text/javascript"></script>
        <script src="jquery/jquery-3.3.1.js"></script>
        <script src="jquery-ui/jquery-ui.js"></script>
        <script src="scripts/script.js"></script>
</head>

<body>
        <header>
                <div class="logo">
                        <a href=""><img id="logotipe" class='graficlogo' src="DND.png" alt="Logo"></a>
                        <nav>
                                <div class="btn">
                                        <a href="index.html">Профиль</a>
                                        <a href="projects.html" target="_self">Рейтинг</a>
                                        <a href="blog.html" target="_self">Задания</a>
                                        <a href="contact.html" target="_self">Гильдии</a>
                                        <a href="about.html" target="_self">Магазин</a>
                                </div>
                        </nav>
                </div>

        </header>
        <main class="services">
                <img src="image4/grafic.jpg" alt="">
                <div class="bx">
                        <div class="src_box3" id="src_2">
                                <h3>Количество выполненных заданий:<p>20</p>
                                </h3>
                        </div>
                </div>
                <div class="services__container">
                        <div class="src_box" id="wer">
                                <!-- <div class="src_box1" id="src_2">
<h3>Количество выполненных заданий:<div id="#" class="#"><p></p></div></h3>
</div> -->
                                <div>
                                        <h2>Название задания</h2>
                                        <p>ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
                                </div>
                                <input type="submit" value="Начать" class="button-submit1">
                        </div>
                        <div class="src_box">
                                <h2>Название задания</h2>
                                <p>ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
                                <input type="submit" value="Начать" class="button-submit1">
                        </div>
                        <div class="src_box">
                                <h2>Название задания</h2>
                                <p>ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
                                <input type="submit" value="Начать" class="button-submit1">
                        </div>
                        <div class="src_box">
                                <h2>Название задания</h2>
                                <p>ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
                                <input type="submit" value="Начать" class="button-submit1">
                        </div>
                        <div class="src_box">
                                <h2>Название задание</h2>
                                <p>ddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
                                <input type="submit" value="Начать" class="button-submit1">
                        </div>
                        <div class="src_box">
                                <h2>Название задание</h2>
                                <p></p>
                                <input type="submit" value="Начать" class="button-submit1">
                        </div>

        </main>



        <footer>

        </footer>

</body>

</html>








</footer>
<title></title>

</head>

</html>